# Required only when update_data() should fetch new Tangram telemetry.
URL=https://restapi.tangramaiot.com/frontstage-ts/v1/telemetries/value/timeseries
TANGRAM_TOKEN=
TANGRAM_ID=

# Sensor key mapping from Tangram.
Current_A=
Current_B=
Current_C=
Votage_ab=
Votage_bc=
Votage_ca=
Instantaneous_Total_Power=
Electricity_consumption=
PF=
CT_Ratio=
kVAh=
Modbus_404=
Modbus_Timeout=
